<footer>
  <div class="container">
    <div class="footer-logo">
      <%= link_to root_path do %>
        <h1><span>M</span>ammiiiiii</h1>
        <p>( マミー )</p>
      <% end %>
    </div>
    <p class="copyright">&copy; <%= Time.current.year %> Mammiiiiii - brothers </p>
  </div>
</footer>
