<div class="main">
  <!-- TOP SECTION -->
  <div class="top">
    <div class="container">
      <div class="top-view">
        <div class="top-view-text">
          <h1>見出しテキスト</h1>
          <p>キャッチコピー</p>
        </div>
      </div>
    </div>
  </div>
  <!-- TOP SECTION -->

  <!-- ABOUT-CONTENTS SECTION -->
  <div class="about-contents">
    <div class="container">
    </div>
  </div>
  <!-- ABOUT-CONTENTS SECTION -->

  <!-- CONTACTS SECTION -->
  <div class="contacts">
    <div class="container">
    </div>
  </div>
  <!-- CONTACTS SECTION -->

</div>
